

html{
  background: rgb(132,38,134);
  background: linear-gradient(180deg, rgba(60, 39, 122,1) 50%, #33418a 98%);
  font-family: 'Montserrat', 'Helvetica';
  background-size: 100vw 100vh;
}

body{
  font-family: 'Montserrat', 'Helvetica';
  text-align: center;
}

.menu{
  margin-bottom: 55px;
  overflow: visible;
}

.menuButton{
  font-size: 14px;
  background-color: transparent;
  color: #2b2a2a;
  border:none;
  border-bottom: solid 1px;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 1s;
}

.menuButton:hover, .active{
  color: black;
  background-color: transparent;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 1s;
  margin: 0 40px 0 40px;
  font-size: 16px;
  font-weight: bold;
}

.active{
  background-color: transparent;
}

.projects{
  margin: auto;
  max-width: 850px;
}

div.wrapper{
  margin:auto;
  position: relative;
  float: left;
  /* PV - are there other ways to achieve your layout without floats? And retain the responsiveness? */
}

div.portfolioProject{
  max-width:80vw;
  min-width: 200px;
  z-index: -1;
}

div.portfolioProject:hover{
  z-index: 1;
}

img.projectPreview{
  filter: grayscale(100%) contrast(60%) brightness(110%);
  object-fit: cover;
  object-position: 50% 0%;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

img.projectPreview:hover{
  cursor:pointer;
  z-index: 1;
  transform: scale(1.2);
  -webkit-transition: all 10s;
  transition-timing-function: linear;
  object-position: 100%;
  transition: object-position 5s;
  z-index: 3;
}

.onProject > img.projectPreview, img.projectPreview:hover{
  filter:grayscale(60%);
}

.onProject > img.projectPreview{
box-shadow: 0px 0px 20px  #a9cce3;
}

.offProject > img.projectPreview{
  filter: grayscale(100%) brightness(110%) contrast(20%);
  z-index: 0;
}

.offProject > img.projectPreview:hover{
  transform:none;
  cursor: default;
  transition-timing-function: linear;
  transition: none;
  object-position: 50% 0%;
}

button.close {
  margin: auto;
  color: #aaa;
  font-size: 16px;
  font-weight: bold;
  border: solid 1px #888;
  border-radius: 40px;
  padding: 15px 30px;
  background-color: transparent;
  margin-bottom: 20px;
  -webkit-transition: all .6s;
}

button.close:hover{
  cursor:pointer;
  background-color: #c95d5d;
  -webkit-transition: all .6s;
  color: #e3e3e3;
}

button.close:active{
  background-color: #a82c2c;
  -webkit-transition: all .1s;
}

@media only screen and (max-width: 815px) {
  .projects{
    max-width: 600px;
  }
}

@media only screen and (max-width: 615px) {
  .projects{
    max-width: 400px;
    }

  .button{
    margin-top: 10px;
  }

  .button:hover, .active{
    margin: 0 25px 0 25px;
    font-size: 16px;
    color: black;
    }

  .active{
    border: none;
    }
}

@media only screen and (max-width: 415px) {
  .button{
    width:100%;
    max-width: 300px;
    }
  .button:hover, .active{
    margin: 20px 0 20px 0;
  }
  .projects{
    max-width: 200px;
    }
}
